body {
  background-image: url("images/Kate-upton-02.jpg");
  /* "./images/Kate-upton-02.jpg" and "images/Kate-upton-02.jpg" work the same */
}

div#me {
  text-align: center;
  width: 600px;
  height: 460px;
}
